.nav-bar > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fifth-color);
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    overflow: auto
}


.nav-bar > ul > li {
    list-style: none;
    color : var(--light-color);
    font-family: var(--second-font);
    font-size: var(--primary-size);
}

@media screen and (max-width:992px) {
    .nav-bar > ul {
        flex-direction: row;
        width: 100%;
        height: 10%;
        font-size: var(--primary-size);
    }
}


  
/* .nav-bar >  a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }  */